#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 10px;
  }
  
  #header h1 {
    margin: 0;
  }
  
  
  
  #new-note {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #new-note:hover {
    background-color: #3e8e41;
  }
  
#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto); 
  }
  
  .note-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 250px;
    width:  auto;
  }
  
  .note {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .note-title-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .note h5 {
    margin: 0;
  }
  
  .note-options {
    text-align: right;
    
  }
  
  .note-options a {
    margin-left: 10px;
    
  }
  
  